# Created by Vercel CLI
DATABASE_URL="postgresql://postgres:0@localhost/bespace"
GITHUB_ID="96d37b9be8fd1356ef2e"
GITHUB_SECRET="76d9c4f6888f2626da9d716ec1035ad14cfc10a3"
GOOGLE_ID="659338062716-7o1lsolmc5a3re67b5hi6m3lbn82rueb.apps.googleusercontent.com"
GOOGLE_SECRET="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"
NEXTAUTH_SECRET="1231312312312389127817"
NEXTAUTH_URL="https://bespacekz.vercel.app"
LINKEDIN_ID="77tm8a1dp4u9wy"
LINKEDIN_SECRET="bCMUrUz4zZRU6gEn"
NX_DAEMON=""
POSTGRES_DATABASE="verceldb"
POSTGRES_HOST="ep-delicate-darkness-70658980-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="oZU7DNkRxCB6"
POSTGRES_PRISMA_URL="postgres://default:oZU7DNkRxCB6@ep-delicate-darkness-70658980-pooler.us-east-1.postgres.vercel-storage.com/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL="postgres://default:oZU7DNkRxCB6@ep-delicate-darkness-70658980-pooler.us-east-1.postgres.vercel-storage.com/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:oZU7DNkRxCB6@ep-delicate-darkness-70658980.us-east-1.postgres.vercel-storage.com/verceldb"
POSTGRES_USER="default"
TURBO_REMOTE_ONLY=""
TURBO_RUN_SUMMARY=""
VERCEL="1"
VERCEL_ENV="development"
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PULL_REQUEST_ID=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_URL=""
API_URL="http://localhost:3000"
EPAY_CLIENT_ID="test"
EPAY_CLIENT_SECRET="yF587AV9Ms94qN2QShFzVR3vFnWkhjbAK3sG"
EPAY_TERMINAL_ID="67e34d63-102f-4bd1-898e-370781d0074d"
EPAY_SHOP_ID="04f25a4b-d2bd-4dd8-b3a7-9390be4774c4"
EPAY_USERNAME="epay@halykbank.kz"
EPAY_PASSWORD="XZG1E@Mm"