@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: inherit !important;
  color: inherit !important;
}

input:focus {
  outline: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --Neutral-1: "#FFFFFF";
    --Neutral-2: "#FAFAFA";
    --Neutral-4: "#F0F0F0";
    --Neutral-stroke: "#E6EBF1";
    --Neutral-gray: "C1C1C1";
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  #react-select-3-input,
  #react-select-5-input {
    outline: 0 !important;
    box-shadow: none !important;
  }
  .header-bg {
    background: radial-gradient(
      58.85% 58.85% at 50% 15.63%,
      #cffafe 0%,
      rgba(254, 242, 242, 0.995677) 43.23%,
      rgba(243, 255, 252, 0.99) 100%
    );
  }

  .populer-search {
    @apply flex cursor-pointer items-center rounded-full bg-[#E4FDF7] px-4 py-1 text-sm text-zinc-800 transition hover:bg-[#def3ee];
  }

  .scroll-btn {
    @apply absolute z-10 rounded-full bg-gradient-to-b from-[#99F6E4] to-[#A5F3FC] px-5 py-5 text-lg text-zinc-800 shadow-xl transition hover:from-[#88e0cf] hover:to-[#97dce4] md:text-xl lg:text-2xl;
  }

  .skill-box {
    @apply rounded-full bg-[#f2f7f2] px-3 py-1 font-semibold text-zinc-700;
  }
}
