.chakra-checkbox__label {
  @apply truncate  whitespace-nowrap  font-roboto text-primary-text;
}

div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-track {
  border-radius: 100px;
  @apply bg-neutral-background;
}

div::-webkit-scrollbar-thumb {
  border-radius: 100px;
  @apply bg-neutral-foreground;
}
